* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Monserrat', sans-serif;
  font-size: 16px;
  /* Set font size to 16 px*/
  font-weight: 300;
  /* set font weight to light*/
  line-height: 1.6;
  /* set line height to 1.6 x the font size*/
  color: #707070;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 300;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/* viewport */
img {
  width: 100%;
}

/*hyperlink customization */
a {
  color: #707070;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #CCCCCC;
}

a:hover {
  color: #B5D6CE;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #707070;
}

a:hover,
a:focus {
  color: #B5D6CE;
  text-decoration: none;
}

/*button customization*/
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #FFFFFF;
  color: #707070;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #B5D6CE;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  background-color: #B5D6CE;
  color: #FFFFFF;
  text-decoration: none;
}

/* contact button customization */
.button.contact {
  background-color: transparent;
  color: #707070;
  text-transform: uppercase;
  border: 2px solid #B5D6CE;
}

.button.contact:hover {
  background-color: #B5D6CE;
  color: #ffffff;
}

/*layout styling*/
header {
  background-color: #E1EFF2;
  padding: 10px 0 4px;
  /*adds 10px of inner spacing*/
  margin: 0px;
  /* adds 10px of outter spacing */
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.25);
  position: fixed;
  width: 100%;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle .responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin:0;
}

nav>ul>li>a {
  padding: 5px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
}

#hero {
  text-align: center;
}

#work h2 {
  text-align: center;
  /*centers text*/
}

#about h1 {
  text-align: center;
}

#about h3 {
  margin-top: 0;
}

#skills-tools h2 {
  text-align: center;
}

#contact h2 {
  text-align: center;
  /* aligns contact heading to center */
}

#contact {
  text-align: center;
  /* aligns text to center*/
}

#call {
  margin: 5px;
}

#email {
  margin: 5px;
}

.logo {
  max-width: 150px;
}

#work {
  background-color: #FFFFFF;
  padding: 20px;
}

#project1 {
  background-color: #FFFFFF;
  padding: 20px;
}

#project2 {
  background-color: #FFFFFF;
  padding: 20px;
}

#project3 {
  background-color: #FFFFFF;
  padding: 20px;
}

/*animation*/
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height:auto;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#about-info {
  margin-bottom: 25px;
}

#about {
  margin-left: 25px;
  margin-right: 25px;
}

main {
  padding-top: 56px;
  /*for fixed header postition*/
}

#copyright {
  font-size: 12px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  nav>ul>li {
    display: inline-block;
    margin: 1em 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .logo {
    min-width: 250px;
  }

  .col-md-6 {
    width: 50%;
    padding: 8px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 133px;
    /*for fixed header postition*/
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    min-width: 250px;
  }

  body {
    background-color: white;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    /* Set font size to 16 px*/
    font-weight: 300;
    /* set font weight to light*/
    line-height: 1.6;
    /* set line height to 1.6 x the font size*/
    color: #707070;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 1.75em;
    font-weight: 300;
  }

  h2 {
    font-size: 1.75em;
    font-weight: 300;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 400;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
