body {
  background-color: white;
  font-family: 'Monserrat', sans-serif;
  font-size: 16px;
  /* Set font size to 16 px*/
  font-weight: 300;
  /* set font weight to light*/
  line-height: 1.6;
  /* set line height to 1.6 x the font size*/
  color: #707070;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 300;
}

h2 {
  font-size: 1.75em;
  font-weight: 300;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/* viewport */
img {
  width: 100%;
}

/*hyperlink customization */
a {
  color: #707070;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #CCCCCC;
}

a:hover {
  color: #B5D6CE;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #707070;
}

a:hover,
a:focus {
  color: #B5D6CE;
  text-decoration: none;
}

/*button customization*/
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #FFFFFF;
  color: #707070;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #B5D6CE;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  background-color: #B5D6CE;
  color: #FFFFFF;
  text-decoration: none;
}

/* contact button customization */
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
